/* Estilo base */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #111111;
  display: flex;
  flex-direction: column;
}

html, body{
  height: 100%;
}

main{
  flex: 1;
}

main h2, main h3 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

main ul, main ol {
  margin-bottom: 2rem;
}

.hero {
  padding: 120px 0 60px;
}

h1, h2 {
  font-weight: 700;
}

p, li {
  color: #333333;
}

.btn {
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #ffffff;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.05); 
}

footer i {
  transition: 0.3s;
  font-size: 1.5rem;
}

footer i:hover {
  color: #000000;
  transform: scale(1.1);
}

.navbar-brand {
  font-weight: 700;
}

.nav-link {
  transition: color 0.2s;
}

.nav-link:hover {
  color: #000;
}

img.rounded-circle {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.mt-extra {
  margin-top: 120px;
}

/* BOX'S CONTATO */
.card h6 {
  font-weight: 600;
}

.card a {
  text-decoration: none;
  color: rgb(40, 40, 200)
}

.card a:hover {
  text-decoration: underline;
  color: #ff7b00;
}

/* BOX SOBRE */
.scroll-card {
  display: inline-block;
  vertical-align: top;
  background: #f8f9fa;
  color: #333;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  min-width: 250px;
  max-width: 100%; /* para ser responsivo dentro da coluna */
  scroll-snap-align: start;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.scroll-card:hover {
  background-color: #ffe5b4;
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.scroll-card:hover h5 {
  color: #ff7b00;
}

.card-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.card ul li, .card ol li {
  color: rgb(30, 30, 30);
}

.card a {
  color: rgb(40, 40, 200);
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
  color: #ff7b00;
}
/*------------------------*/


@media (min-width: 768px) {
  .mt-extra {
    margin-top: 160px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;
  }
  .hero p {
    font-size: 1rem;
  }
}

/* Animações com AOS */
[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos].aos-animate {
  opacity: 1;
}
